---
const { frontmatter } = Astro.props;
import BaseLayout from './BaseLayout.astro';
---

    <BaseLayout pageTitle={frontmatter.title}>
    <p>Publicado el: {frontmatter.pubDate.toString().slice(0,10)}</p>
    <p>Escrito por <a class='desing'>{frontmatter.author}</a></p>
    <p>Descripcion: {frontmatter.description}</p>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <slot />
</BaseLayout>